
  
.columnTitle{
    font-size: 24px;
}
.interface{
    display: flex;
    justify-content: center;
}
 @media only screen and (max-width: 600px) {
    .column{
        display:flex;
        flex-wrap:wrap;

    }
    .columnTitle{
        font-size: 24px;
        display:flex;
        flex-wrap:wrap;
    }
}